// ███████  ██████  ███    ██ ████████ ███████ 
// ██      ██    ██ ████   ██    ██    ██      
// █████   ██    ██ ██ ██  ██    ██    ███████ 
// ██      ██    ██ ██  ██ ██    ██         ██ 
// ██       ██████  ██   ████    ██    ███████ 


$font: "IBM Plex Sans", sans-serif;
$fontCondensed: "IBM Plex Sans Condensed", sans-serif;
$fontMono: "IBM Plex Mono", monospace;









//  ██████  ██████  ██       ██████  ██████  ███████ 
// ██      ██    ██ ██      ██    ██ ██   ██ ██      
// ██      ██    ██ ██      ██    ██ ██████  ███████ 
// ██      ██    ██ ██      ██    ██ ██   ██      ██ 
//  ██████  ██████  ███████  ██████  ██   ██ ███████ 


// Palette Definition
// These colors are used throughout the subsequent color sections.
$blue50: #b5c3e3;
$blue100: #90a5d5;
$blue200: #7e96ce;
$blue300: #6b87c7;
$blue400: #5978c0;
$blue500: #4669b9;
$blue600: #3f5fa7;
$blue700: #385494;
$blue800: #314a82;
$blue900: #2a3f6f;

$green50: #90d5c0;
$green100: #6bc7ab;
$green200: #59c0a1;
$green300: #46b996;
$green400: #3fa787;
$green500: #389478;
$green600: #318269;
$green700: #2a6f5a;
$green800: #235d4b;
$green900: #1c4a3c;

$red50: #dca3b5;
$red100: #ce7e97;
$red200: #c76b88;
$red300: #c05979;
$red400: #b9466a;
$red500: #a73f5f;
$red600: #943854;
$red700: #82314a;
$red800: #6f2a3f;
$red900: #5d2335;

$neutral50: #f6f6f7;
$neutral100: #e8e9eb;
$neutral200: #dadcdf;
$neutral300: #cccfd3;
$neutral400: #bec2c7;
$neutral500: #b0b5bb;
$neutral600: #a2a8af;
$neutral700: #949ba3;
$neutral750: #89919a;
$neutral800: #868e97;
$neutral900: #78818b;
$neutral1000: #6c747e;

$text300: #565a62;
$text500: #3e4147;
$text700: #26282c;



// Sidebar & header
$asideBG: $neutral200;
$headerBG: $neutral200;
$asideNavHover: $neutral500;



// Mobile menu
$mobileBG: $neutral200;
$mobileBorder: $neutral500;
$mobileActiveColor: $blue500;
$mobileIconFill: $text700;
$mobileItemBorder: $neutral400;



// Subnav
$subnavBG: $blue400;
$subnavColor: rgba(255,255,255,0.8);
$subnavHover: $blue600;
$subnavFirstItemBorder: rgba(255,255,255,0.1);
$subnavBorder: $neutral300;



// Main structure
$bodyBG: $neutral200;
$mainBG: $neutral100;
$mainBorder: $neutral300;



// Text
$bodyColor: $text500;
$headerColor: $text700;
$preBG: $neutral300;
$codeBG: $neutral300;
$tablePreBG: $neutral400;
$tableCodeBG: $neutral400;
$monoColor: $green300;
$importantColor: $red300;
$linkColor: $blue500;
$linkUnderline: rgba(255,255,255,0.25);
$linkUnderlineHover: rgba(255,255,255,0.75);
$h2Underline: rgba(0,0,0,0.2);
$offWhite: rgba(255,255,255,0.8);



// Buttons
$buttonColor: $text700;

$buttonBG: $neutral200;
$buttonHoverBG: $neutral300;
$buttonBorder: $neutral800;
$buttonBorderHover: $neutral900;

$buttonHigherBG: $neutral100;
$buttonHigherHoverBG: $neutral200;
$buttonHigherBorder: $neutral800;
$buttonHigherBorderHover: $neutral900;

$buttonRedHoverBG: $red500;
$buttonRedBorder: $red300;
$buttonRedBorderHover: $red900;

$buttonBlueHoverBG: $blue500;
$buttonBlueBorder: $blue300;
$buttonBlueBorderHover: $blue900;

$buttonGreenHoverBG: $green500;
$buttonGreenBorder: $green300;
$buttonGreenBorderHover: $green900;



// Tables
$thBG: $neutral400;
$tdBG: $neutral200;
$tableBorder: $neutral700;



// Modal
$modalTitleBG: $neutral300;;
$modalTitleBorder: $neutral700;
$modalBG: $neutral200;
$modalBorder: $neutral700;
$modalActionBG: $neutral300;
$modalActionBorder: $neutral700;
$modalCloseBG: $red700;
$modalCloseBorder: $red200;
$modalCloseHoverBG: $red500;
$modalCloseBorderHover: $red100;



// Alert boxes
$boxBlueBG: $blue400;
$boxBlueBorder: $blue600;

$boxRedBG: $red400;
$boxRedBorder: $red600;

$boxGreenBG: $green400;
$boxGreenBorder: $green600;









// ███████ ██   ██  █████  ██████   ██████  ██     ██ ███████ 
// ██      ██   ██ ██   ██ ██   ██ ██    ██ ██     ██ ██      
// ███████ ███████ ███████ ██   ██ ██    ██ ██  █  ██ ███████ 
//      ██ ██   ██ ██   ██ ██   ██ ██    ██ ██ ███ ██      ██ 
// ███████ ██   ██ ██   ██ ██████   ██████   ███ ███  ███████


$buttonShadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
$buttonShadowHover: 0px 1px 2px 0px rgba(0,0,0,0.2);
$modalTitleShadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
$tableShadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
$monoShadow: 1px 1px 0px rgba(0,0,0,0.4);
$importantShadow: 1px 1px 0px rgba(0,0,0,0.4);
$headerShadow: 0px 1px 4px 0px rgba(0,0,0,0.3);